html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#nodeList .btn.btn-sm,
#nodeListDB .btn.btn-sm
{
	font-size: 13px;
    padding: 2px 5px;
}

#nodeList tbody tr:last-child td,
#nodeListDB tbody tr:last-child td{
  border: none;
}

#nodeList th svg{
	height: 18px;
}

.actionGetUserLoginLink:focus,
.actionGetUserLoginLinkReady:focus,
.actionDeleteSite:focus{
	box-shadow: none;
}


.clickToCopy{
	cursor: pointer;
}

.badge{
	font-weight: normal;
}
	




div.dataTables_paginate{
	margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}